@import url(../fonts/fonts.css);

.page {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: black;
  font-family: "InterVariable";
}
.header {
  color: white;
}
.profile {
  display: flex;
  color: white;
  flex-direction: row;
}
.profile__image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 29px;
}

.profile__info {
  margin-right: auto;
  margin-top: 22px;
  margin-left: 30px;
}
.profile__chance {
  display: flex;
}
.header__title {
  display: flex;
  font-size: 4em;
}
.header__title-small {
  font-size: 1rem;
  color: white;
}

.profile__name {
  font-size: 2.5rem;
}
.profile__description {
  margin-top: 16px;
  font-size: 1rem;
}
.profile__button-edit {
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url(../images/Edit\ Button.jpg);
  background-color: black;
  margin-left: 18px;
  margin-top: 15px;
  padding: 0;
}
.profile__button-edit:hover {
  opacity: 0.5;
}
.profile__button-add {
  border: solid #fff;
  background-color: black;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  font-size: 2rem;
}
.profile__button-add:hover {
  opacity: 0.5;
}
.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  margin-top: 31px;
}
.photo {
  width: 282px;
  height: 282px;
  background-color: #fff;
  margin-top: 10px;
  padding: 0;
}
.element {
  border-radius: 10px;
}
.element__info {
  max-width: 282px;
  background-color: #fff;
  display: flex;
  margin-top: 0;
  justify-content: center;
}
.element__title {
  font-size: 24px;
  margin-left: 10px;
  color: black;
  font-family: "inter";
}
.element__like {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3em;
  display: flex;
  margin-left: 5px;
  justify-content: center;
}
.element__like:hover {
  opacity: 0.5;
}
.footer {
  color: #545454;
  margin-top: 55px;
  margin-bottom: 55px;
}
@media screen and (max-width: 450px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
  .profile__image {
    margin: auto;
  }
  .profile__info {
    margin: auto;
  }
  .profile__name {
    font-size: 22px;
  }
  .profile__description {
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
  }
  .profile__button-add {
    width: 282px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .element {
    margin: auto;
  }
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: "Inter";
  text-align: left;
  padding: 20px;
  width: 430px;
  height: 330px;
  margin-top: 195px;
}
.btn-cerrar-popup {
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  border: none;
}
h3 {
  font-size: 2em;
  margin-left: 36px;
  margin-top: 34px;
}
.contenedor-inputs input {
  width: calc(100% - 30px);
  margin-bottom: 20px;
  font-size: 1rem;
  border-top-style: unset;
  border-left-style: unset;
  border-right-style: unset;
  border-bottom-color: #a7a7a7;
  padding: 10px;
}
.btn-submit {
  height: 50px;
  line-height: 21px;
  width: 350px;
  border: none;
  background-color: rgb(7, 4, 4);
  color: #fff;
  cursor: pointer;
  margin-right: 36px;
  margin-left: 36px;
  margin-top: 45px;
}
.btn-submit:hover {
  background-color: #3d3d3d;
}
